@charset "UTF-8";
@font-face {
  font-family: "Graphik";
  src: url('../font/Graphik-Regular.woff2') format("woff2");
  font-weight: 400;
}

:root {
  --primary-color: #4BD7C8;
  --secundary-color: #99E9DF;
  --tertiary-color: #CCF4EF;
}
* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Graphik";
  font-weight: 400;
  color: #1D1D1D;
}
a {
  display: inline-block;
  color: inherit;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
}