<button value="venturo" data-filter>Venturo</button>
<button value="passado" data-filter>Passado</button>
<button id="add-bill" data-request="NewBill">Nova Conta</button>
<div class="container-bills"></div>