<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Harvest - Gerenciamento de Contas</title>
</head>
<body>
    <style></style>
    <div class="account">
        <a href="#login" class="login-btn" data-request="login">Login</a>
        <a href="#cadastrar" class="register-btn" data-request="register">Cadastrar</a>
    </div>
    <section class="presentation">
        <div class="informations">
            <div class="phrase">
                <h1>Um novo meio de gerenciar suas contas</h1>
            </div>
            <h2>Faça a gestão de seus clientes, vendas, cobranças e faturas através da plataforma mais robusta do mercado.</h2>
            <a href="#saiba-mais" class="know-more" data-request="know-more">Saiba mais</a>
            <a href="#cadastrar" class="join" data-request="join">Quero utilizar</a>
        </div>
        <img src="~/Images/monitor.svg" alt="monitor-cash-coin-card">
    </section>
</body>
</html>