<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/Images/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="~/Content/style.css">
    <title>loading...</title>
</head>
<body>
    <style></style>
    <header>
        <div class="header">
            <a href="../"><img src="~/Images/logo.svg" alt="Logotipo Harvest" class="logo"></a>
            <div class="account"></div>
        </div>
    </header>
    <section><div class="load"></div></section>
    <script type="module" src="~/Scripts/script.js"></script>
</body>
</html>