<style class="requested">
  .content {
    display: flex;
    flex-direction: column;
  }
  .item-know-more {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px 0;
  }
  .title {
    font-size: 24px;
    text-align: center;
    margin: 15px 0 10px;
  }
  .title strong {
    display: block;
  }
  .description {
    font-size: 16px;
    text-align: center;
  }
</style>
<div class="content">
  <div class="item-know-more">
    <img src="~/Images/smartphone.svg" alt="Smartphone enviando SMS">
    <span class="title">Recebas as<strong>transações via SMS</strong></span>
    <p class="description">Automatizar a comunicação é uma das formas mais eficazes para se informar. Com a Harvest você recebe SMS informando os pagamentos recebidos por clientes, tudo de forma integrada com a nossa plataforma.</p>
  </div>
  <div class="item-know-more">
    <img src="~/Images/card.svg" alt="Segurando cartões de credito">
    <span class="title"><strong>Renovação automática</strong>no cartão de crédito</span>
    <p class="description">A Harvest recupera dados de cartões renovados e alterados pelos bancos. Tudo acontece de forma automática, eliminando a necessidade de contato com o cliente no momento da renovação do serviço, reduzindo o número de transações.</p>
  </div>
  <div class="item-know-more">
    <img src="~/Images/saving-money.svg" alt="Cofrinho de moedas">
    <span class="title">Conteúdo sobre<strong>educação financeira</strong></span>
    <p class="description">A Harvest acredita que reter é tão importante quanto crescer. Enviamos constantemente conteúdos educativos para os nosso assinantes melhorarem o gerenciamento de seus gastos e terem um melhor aproveitamento de suas receitas.</p>
  </div>
</div>