<style class="requested">
  .content {
    max-width: 450px;
  }
  form {
    width: 100%;
  }
</style>
<div class="content">
  <h3>Faça login para usufruir a plataforma</h3>
  <form action="#" method="get">
    <div>
      <span class="placeholder">E-mail</span>
      <input type="text" autocomplete="off" name="email" class="validate">
    </div>
    <div>
      <span class="placeholder">Senha</span>
      <input type="password" name="senha" class="validate">
    </div>
    <button type="submit" name="btnSubmit" value="login">Entrar</button>
  </form>
</div>